fastapi==0.135.1
uvicorn[standard]==0.41.0
pydantic==2.12.5
python-multipart==0.0.22
itsdangerous==2.2.0

python-socketio==5.16.1
python-jose==3.5.0
cryptography==46.0.5
bcrypt==5.0.0
argon2-cffi==25.1.0
PyJWT[crypto]==2.11.0
authlib==1.6.10

requests==2.33.1
aiohttp==3.13.5
async-timeout==5.0.1
aiocache==0.12.3
aiofiles==25.1.0
httpx[socks,http2,zstd,cli,brotli]==0.28.1
starsessions[redis]==2.2.1
python-mimeparse==2.0.0

sqlalchemy[asyncio]==2.0.48
aiosqlite==0.21.0
psycopg[binary]==3.2.9
alembic==1.18.4
peewee==3.19.0
peewee-migrate==1.14.3

pycrdt==0.12.47
redis==7.4.0

APScheduler==3.11.2
RestrictedPython==8.1
pytz==2026.1.post1

loguru==0.7.3
asgiref==3.11.1

openai==2.29.0
tiktoken==0.12.0

beautifulsoup4==4.14.3
pandas==3.0.1
pillow==12.1.1
psutil==7.2.2
chardet==5.2.0
validators==0.35.0
Markdown==3.10.2
pymdown-extensions==10.21
nltk==3.9.3
black==26.3.1
